body{
    box-sizing:border-box;
    display:flex;
    align-items:center;
}

#container{
    width:75%;
    margin:auto;
    height:75vh;
    display:grid;
    grid-template: repeat(16,1fr) / repeat(16, 1fr);
    border: 1px solid rgb(224, 224, 224);
}

.black-bg{
    background:black;
}